   # .gitignore
   *.env*.env
.env*
.envsrc2/embeddings/index.pkl
src2/embeddings/index.pkl


# LaTeX build files
*.pdf
*.synctex.gz
*.latexmk
*.aux

*.fdb_latexmk
# Python cache files
*.pyc
__pycache__/
*/__pycache__/*

# Specifically:
Paper.pdf
Paper.synctex.gz
gpt_interface2.cpython-310.pyc
graph_app.cpython-310.pyc